<li class="slide" style="width: 100vw; position: relative">

    <img src="img/decors/decor2.png" style="width: 100vw; height: 120vh; position: absolute; left: 0; top: -10vh">
    <!--Visiteur (Pablo)-->
    <img src="img/personnages/PNG/PNG/perso_04.png" style="width: 7.5vw; position: absolute; left: 43vw; bottom: 5vw; transform: scaleX(-1);">
    <!--Eleve (Emma) -->
    <img src="img/personnages/PNG/PNG/perso_02.png" style="width: 6vw; position: absolute; left: 33vw; bottom: 8vw; transform: scaleX(-1);">
    <!--Fille -->
    <input class="next" type="image" src="img/personnages/PNG/PNG/perso_03.png" style="width: 6vw; position: absolute; left: 70vw; bottom: 10vw;";>
    <!--Garçon (interlocuteur) -->
    <img src="img/personnages/PNG/PNG/perso_05.png" style="width: 11vw; position: absolute; left: 55vw; bottom: 5vw">

    <img src="img/boite_dialogue/boite_dialogue-perso_05.png" style="width: 25vw; left :5vw; bottom: 150px; position: absolute;">


</li>